/* font family */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

.common-p {
    /* width: 500px; */
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;

}

.btn-primary {
    border: 0px;
    border-radius: 2.75rem;
    background: #E02C6D;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    padding: 10px 24px;
    margin-top: 26px;

}


/* header section */
header {
    background: #fff;
    /* padding: 60px 120px; */
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: bottom right;

}

.section-title {
    width: 580px;
    color: #3A3A3A;
    font-size: 1.25rem;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 120px;
    /* border: 2px solid skyblue; */


}

nav>ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    color: #3A3A3A;
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 600;
}

nav li a {
    text-decoration: none;

}

.banner {
    padding: 40px 50px 40px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid salmon; */
}

.banner-title {
    /* width: 582px; */
    color: #3A3A3A;
    font-size: 3.25rem;
    font-weight: 700;
}

.main-pic {
    width: 450px;
    /* margin-left: 100px; */
}

/* main section */
main {
    max-width: 1140px;
}

/* sponsor section */
.sponsor {
    /* border: 2px solid seagreen; */
    /* width: 1110px; */
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Populara collection */
.title-popular {
    color: #3A3A3A;
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    /* border: 2px dotted seagreen; */
}

.grid {
    /* border: 2px solid saddlebrown; */
    width: 329px;
    height: 476px;
    padding: 20px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);

}

.grid img {
    margin-bottom: 5px;
}

.grid-title {

    color: #18191F;
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 5px;

}

.grid-price {
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
}

.grid-description {
    color: var(--gray-50, #787885);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.352px;
    margin-top: 10px;

}

h5 {
    color: rgba(224, 44, 109, 0.87);
    font-size: 1rem;
    font-weight: 700;
    text-align: end;
}

/*  features section */
.feature-container {
    /* border: 2px solid seagreen; */
    margin-top: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
    margin-bottom: 100px;
}

.feature-title {
    color: #0A0826;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}

/* footer styles */
footer {
    background: #0A0826;
    text-align: center;
    padding: 50px;
}

.footer-title {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
}

.foot-content {
    color: #D9DBE1;
    font-size: .8rem;
    font-weight: 700;
}

.foot-des {
    color: #D9DBE1;
    font-size: .8rem;
    font-weight: 700;
}
.icons{
    margin-left: 16px;
}